@charset "UTF-8";

.prodotto-aggiunto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 15px;	
	background-color: #1e293b;
	color: #b5c2d5;
    border-radius: 8px;
    border-bottom: 3px solid #00d2ff;
    width: 300px;
    padding: 20px;
}

.prodotto-aggiunto-scelta {
	display: flex;
	flex-direction: row;
	gap: 7px;
}

.prodotto-aggiunto-scelta h4 a {
	color: #00d2ff;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.prodotto-aggiunto-scelta h4 a:hover {
	text-decoration: underline;
}

select {
	background-color: #111923;
	border: 1px solid #2d3748;
    padding: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

select.input-error {
	background-color: #111923;
    padding: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    width: 100%;
}

select:focus {
	border-color: #00c3ff;
}

.hidden-group {
	display: none;
}

/* sovrascrivo il :disabled di default perché non va bene per il mio tema */
input:disabled, select:disabled {
    background-color: #0b0f16 !important;
    border-color: #1f2937 !important; 
    color: #4a5568 !important;            
    cursor: not-allowed;               
}