@charset "UTF-8";

.box-catalogo-vuoto {
    background-color: #1e293b;
    border-radius: 8px;
    border-bottom: 3px solid #00d2ff;
	color: #b5c2d5;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding: 20px;
	letter-spacing: 0.5px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.box-catalogo-vuoto a {
	color: #00d2ff;
	text-decoration: none;
}

.box-catalogo-vuoto a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.container-catalogo {
	display: flex;
	flex-direction: column;
	justify-content: start;
    padding: 25px;
    color: #fff;
    gap: 10px;
}

.azioni-top {
    margin-bottom: 20px;
}

.btn-aggiungi {
	display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    background-color: #00d2ff;
   	color: #121824;
}

.btn-aggiungi:hover {
    background-color: #00b4db;
}

.tabella-prodotti {
    width: 100%;
    background-color: #1e2530;
    border-collapse: collapse;
    color: #fff;
    table-layout: fixed;
}

.tabella-prodotti th:nth-child(1) { width: 10%; }  /* Nome */
.tabella-prodotti th:nth-child(2) { width: 10%; }  /* Tipologia */
.tabella-prodotti th:nth-child(3) { width: 15%; }  /* Genere */
.tabella-prodotti th:nth-child(4) { width: 10%; }  /* Piattaforma */
.tabella-prodotti th:nth-child(5) { width: 12%; }  /* Produttore */
.tabella-prodotti th:nth-child(6) { width: 8%; }   /* Prezzo */
.tabella-prodotti th:nth-child(7) { width: 10%; }   /* Disponibilità */
.tabella-prodotti th:nth-child(8) { width: 15%; }   /* Chiave */
.tabella-prodotti th:nth-child(9) { width: 10%; }  /* Azioni */

/* mi serve per gestire lunghezze troppo lunghe, in tal caso mi taglia il contenuto e mi aggiunge i 3 puntini */

.tabella-prodotti td {
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabella-prodotti th, .tabella-prodotti td {
    padding: 12px 10px;
    text-align: left;
}

.tabella-prodotti th {
    background-color: #151a23;
    color: #00D2FF;
    text-transform: uppercase;
    font-size: 13px;
}

.tabella-prodotti tr:hover {
    background-color: #252e3c;
}

.container-azioni {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.azione {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.azione-visualizza { background-color: #00bcd4; }
.azione-visualizza:hover { background-color: #0090A3; }

.azione-rimuovi { background-color: #f44336; }
.azione-rimuovi:hover { background-color: #F21C0D; }

.azione-modifica { background-color: #4caf50; }
.azione-modifica:hover { background-color: #409142; }

@media screen and (max-width: 1200px) {
	.container-catalogo {
        overflow-x: auto;
    }
    
    .tabella-prodotti {
        width: 1300px;
    }
}