@charset "UTF-8";

.form-row-genere-data {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.server-success {
	background-color: rgba(46, 213, 115, 0.1); 
	border: 1px solid #2ed573;                  
	color: #2ed573;                           
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
}

.checkbox-container {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	color: #ffffff;
	font-size: 14px;
	padding: 8px 0;
	margin-top: 5px;
}

.checkbox-container input[type="checkbox"] {
	width: 18px;
	height: 18px;
}

.checkbox-container a {
	color: #00d2ff;
	text-decoration: none;
}

.checkbox-container a:hover {
	text-decoration: underline;
}

@media (max-width: 534px) {
	.form-row {
		flex-direction: column;
	}
}