* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
	--bg-color: #1E232B;
 	-bg-card: #262C36;
 	--accent-green: #00E676;
 	--text-primary: #FFFFFF;
 	--text-secondary: #8A94A6;
}

/* sfondo globale */
body {
	background-color: var(--bg-color);
}