@charset "UTF-8";

* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
	background-color: #1E232B;
}

.error-message {
	font-size: 12px;
    color: #ff4757;
    margin-top: 4px;
    min-height: 16px;
    display: block;
}

.input-group input.input-error {
	border-color: #ff4757;
    background-color: rgba(255, 71, 87, 0.05);
}

.server-error {
	background-color: rgba(255, 71, 87, 0.1);
    border: 1px solid #ff4757;
    color: #ff4757;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}